version: 0.1

# provide Amazon Web Services key and secret tokens
aws_key: ""
aws_secret: ""

# the name of the storage bucket
aws_bucket: "the-nexus-tv"

# the path storage folder
aws_path: "podcasts/"